<div class="container">
    <h1>Product <%= @product.name %></h1>
    <p>description : <%= @product.description %> </p>
    <p> price <%= @product.price %></p>
    <br/>
    <%= link_to "Edit Product", edit_product_path(@product), class: "btn btn-outline-success mb-3" %>
    <%= button_to "Delete Product", product_path(@product),
                                    data:{confirm:"ARE YOU SURE?"}, 
                                    :method => :delete, class: "btn btn-outline-danger sign-out-btn" if current_user.products.include?(@product) %>
        
</div>